<p id="notice"><%= notice %></p>

<h1>Listing Product Items</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_items.each do |product_item| %>
      <tr>
        <td><%= product_item.description %></td>
        <td><%= link_to 'Show', product_item %></td>
        <td><%= link_to 'Edit', edit_product_item_path(product_item) %></td>
        <td><%= link_to 'Destroy', product_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product item', new_product_item_path %>
